/* styles/Auth.css */
.auth{
    background: linear-gradient(to bottom right, #ccf2e6, #60938b); 
}
.auth-container {
    max-width: 400px; 
    margin: 50px auto; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    background: linear-gradient(to bottom right, #82e480, #0556ee);
}

.auth-container h2 {
    text-align: center; 
    margin-bottom: 20px; 
}

.auth-form {
    display: flex; 
    flex-direction: column; 
}

.auth-form input {
    margin-bottom: 15px; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

.auth-form button {
    padding: 10px; 
    border: none; 
    border-radius: 4px; 
    background-color: #1fdf45; 
    color: white; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.auth-form button:hover {
    background-color: #099105; 
}

.auth-form button[type="button"] {
    background-color: #48a0ee; 
}

.auth-form button[type="button"]:hover {
    background-color: #1048ef; 
}